<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin panel</title>
</head>
<body>
<div class="container-fluid"/>
    <div class="row text-white bg-dark">
        <div class="col-md-11">
            <h4 class="text-left">
                <td th:text="${usera.getUsername()}"/>
                <small>
                    with roles: <tr th:each="role : ${usera.getRoles()}" >
                                &nbsp;<td th:text="${role.getName()}"/>
                                </tr>
                </small>
            </h4>
        </div>
        <div class="col-md-1">
                <a class="text-muted" th:href="@{/logout}">Logout</a>
        </div>
    </div>
<div class="row">
    <div class="col-md-3">

        <button type="button" class="btn btn-success">
            Button
        </button>
    </div>
    <div class="col-md-9">
        <h1>Admin Panel</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Age</th>
                    <th>Email</th>
                    <th>Roles</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${users}" >
                    <td th:text="${user.getId()}"/>
                    <td th:text="${user.getName()}"/>
                    <td th:text="${user.getLastname()}"/>
                    <td th:text="${user.getAge()}"/>
                    <td th:text="${user.getUsername()}"/>
                    <td>
                        <div th:each="role : ${user.getRoles()}">
                            <p th:text="${role.getName()}"/>
                        </div>
                    </td>
                    <td>
                        <a href="#" th:href="@{/admin/edit(id=${user.getId()})}"th:text="edit">edit</a>
                    </td>
                    <td>
                        <a href="#" th:href="@{/admin/delete(id=${user.getId()})}"th:text="delete">delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>

<div>
    <h1>Admin Panel</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <tr th:each="user : ${users}" >
            <td th:text="${user.getId()}"/>
            <td th:text="${user.getName()}"/>
            <td th:text="${user.getLastname()}"/>
            <td th:text="${user.getAge()}"/>
            <td th:text="${user.getUsername()}"/>
            <td>
                <div th:each="role : ${user.getRoles()}">
                    <p th:text="${role.getName()}"/>
                </div>
            </td>
            <td>
                <a href="#" th:href="@{/admin/edit(id=${user.getId()})}"th:text="edit">edit</a>
            </td>
            <td>
                <a href="#" th:href="@{/admin/delete(id=${user.getId()})}"th:text="delete">delete</a>
            </td>
        </tr>
    </table>
</div>
<p>
    <a href="/admin/add">add User</a>
<p>
    <a th:href="@{/logout}">Sign Out</a>
</body>
</html>