<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin panel</title>
</head>
<body>
<div class="container-fluid">
    <div class="row text-white bg-dark">
        <div class="col-md-10 ml-4 m-1 p-1" id="mail">
            <h4 class="text-left">

                <!-- <td th:text="${user.getUsername()}"/>
                 <small>
                    with roles: <tr th:each="role : ${user.getRoles()}" >
                    &nbsp;<td th:text="${role.getName()}"/>
                </tr>
                </small> -->
            </h4>
        </div>
        <div class="col-md-1 m-2 ml-4 p-1">
            <h6 align="right">
                <a class="text-muted" th:href="@{/logout}">Logout</a>
            </h6>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 mt-3 p-0 m-0">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Admin</a>
                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">User</a>
            </div>
        </div>
        <div class="col-md-10 p-4 bg-light">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                    <h1>Admin Panel</h1>
                    <div class="tabbable" id="tabs-936887">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active show" href="#tab1" data-toggle="tab" id="tab1click">Users table</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#tab2" data-toggle="tab">New User</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab1">
                            <h5 class="p-3 mb-0 border rounded bg-light">All users</h5>
                            <div class="col-md-12 mt-0 p-4 pr-4 border rounded bg-white">
                                <table class="table table-striped bg-white" id="mainTableWithUsers">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Age</th>
                                            <th>Email</th>
                                            <th>Roles</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                              <!--  <a class="btn btn-danger" href="#" th:href="@{/admin(id=${user.getId()})}" role="button">Delete</a> -->
                                    </tbody>
                                </table>
                            </div>
                            <!--скрытое дефолтное модальное окно -->
                            <div class="modal fade" id="someDefaultModal" tabindex="-1" role="dialog" aria-labelledby="someDefaultModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">

                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>

                                        <div class="modal-body">
                                        </div>

                                        <div class="modal-footer">
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- <div class="myForm">
                                <form method="put" th:action="@{/admin}">
                                    <div class="modal fade" id="exampleModel" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="myModalLabel">
                                                        Edit user
                                                    </h5>
                                                    <button type="button" class="close" data-dismiss="modal">
                                                        <span aria-hidden="true">×</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="container col-6 text-center">
                                                        <div class="form-group text-center">
                                                        <label for="id" class="form-control-label font-weight-bold">ID</label>
                                                        <input type="text" class="form-control" id="id" name="id" value="" readonly/>
                                                    </div>
                                                        <div class="form-group text-center">
                                                        <label for="name" class="form-control-label font-weight-bold">First Name</label>
                                                        <input type="text" class="form-control" id="name" name="name" value=""/>
                                                    </div>
                                                        <div class="form-group text-center">
                                                        <label for="lastname" class="form-control-label font-weight-bold">Last Name</label>
                                                        <input type="text" class="form-control" id="lastname" name="lastname" value=""/>
                                                    </div>
                                                        <div class="form-group text-center">
                                                        <label for="age" class="form-control-label font-weight-bold">Age</label>
                                                        <input type="text" class="form-control" id="age" name="age" value=""/>
                                                    </div>
                                                        <div class="form-group text-center">
                                                        <label for="username" class="form-control-label font-weight-bold">Email</label>
                                                        <input type="email" class="form-control" id="username" name="username" value=""/>
                                                    </div>
                                                        <div class="form-group text-center font-weight-bold">
                                                        <label for="password" class="form-control-label">Password</label>
                                                        <input type="password" class="form-control" id="password" name="password" value=""/>
                                                    </div>
                                                        <div class="form-group text-center font-weight-bold">
                                                        <label for="role">Role</label>
                                                        <select multiple class="form-control" id="role" name="role" value="">
                                                            <option th:value="'USER'" th:text="USER"></option>
                                                            <option th:value="'ADMIN'" th:text="ADMIN"></option>
                                                        </select>
                                                    </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                        Close
                                                    </button>
                                                    <input type="submit" class="btn btn-primary" value="Edit"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div> -->
                        </div>
                        <div class="tab-pane" id="tab2">
                            <h5 class="p-3 mb-0 border rounded bg-light">Add new user</h5>
                            <div class="col-md-12 mt-0 p-4 pr-4 border rounded bg-white">
                                <div class="container col-6 form-group text-center" id="userForm">
                                    <div></div>
                                   <!-- <form role="form" th:method="POST" th:action="@{/admin}" object="user">
                                    <div class="form-group">
                                        <label class="font-weight-bold" for="name1">
                                            First name
                                        </label>
                                        <input type="text" class="form-control" field="name" id="name1">
                                    </div>
                                    <div class="form-group">
                                        <label class="font-weight-bold" for="lastname1">
                                            Last name
                                        </label>
                                        <input type="text" class="form-control" field="lastname" id="lastname1">
                                    </div>
                                    <div class="form-group">
                                        <label class="font-weight-bold" for="age1">
                                            Age
                                        </label>
                                        <input type="text" class="form-control" field="age" id="age1">
                                    </div>
                                    <div>
                                        <label class="font-weight-bold" for="username1">Email</label>
                                        <input type="email" class="form-control" field="username" id="username1">
                                    </div>
                                    <div class="form-group">
                                        <label class="font-weight-bold" for="password1">password</label>
                                        <input type="password" class="form-control" field="password" id="password1">
                                    </div>
                                    <div class="form-group">
                                        <label class="font-weight-bold" for="role1">Role</label>
                                        <select multiple class="form-control" field="role" id="role1">
                                            <option th:value="'USER'" th:text="USER"></option>
                                            <option th:value="'ADMIN'" th:text="ADMIN"></option>
                                        </select>
                                    </div>
                                    <button type="submit" class="btn btn-success">
                                        Add new user
                                    </button>
                                </form> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade bg-light" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <h1>User information-page</h1>
                    <h5 class="p-3 mb-0 border rounded bg-light">About user</h5>
                    <div class="col-md-12 mt-0 p-4 pr-4 border rounded bg-white">
                        <table class="table table-striped bg-white" id="mainTableWithUser">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Age</th>
                                    <th>Email</th>
                                    <th>Roles</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/js/admin.js"></script>
</body>
</html>