<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin/edit}" th:object="${user}">
    <input type="hidden" name="id" value="..." th:value="${user.getId()}">
    <label for="name">First Name</label>
    <input type="text" th:field="*{name}" id="name">
    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
    <br/>
    <label for="lastname">Last Name</label>
    <input type="text" th:field="*{lastname}" id="lastname">
    <div th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></div>
    <br/>
    <label for="age">Age</label>
    <input type="text" th:field="*{age}" id="age">
    <div th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></div>
    <br/>
    <label for="email">Email</label>
    <input type="text" th:field="*{username}" id="email">
    <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
    <br/>
    <label for="password">password</label>
    <input type="text" th:field="*{password}" id="password">
    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
    <br/>
    <select th:field="*{role}">
        <option th:value="'USER'" th:text="USER"></option>
        <option th:value="'ADMIN'" th:text="ADMIN"></option>
    </select>
    <input type="submit" value="Edit user">
</form>
</body>
</html>